.dark-until-hover {
	color: @text-color !important;

	&:hover {
		color: @link-color !important;
	}
}

.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
	width: 100%;
}

.ant-menu-submenu.ant-menu-submenu-horizontal {
	left: 30%;
}

.ant-menu-item.ant-menu-item-active {
	background-color: rgba(169, 204, 98, 0.3);
}

.ant-menu-item:not(.ant-menu-horizontal).ant-menu-item-selected {
	background-color: rgba(0, 151, 19, 0.3);
}

.submenu-wrapper .menu-group .tracker-selected {
	background-color: #839461;
	color: white;
}

.submenu-wrapper .tracker-selected {
	background-color: #839461 !important;
	color: white;
}

.submenu-wrapper .menu-group .tracker {
	background-color: transparent !important;
	color: rgba(0, 0, 0, 0.65);
}

.ant-menu:not(.ant-menu-horizontal) .tracker-selected .ant-menu-item-selected {
	background-color: #839461;
	color: white;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: transparent;
}